# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Data (raw & generated)
data/raw/
data/processed/
src/data/raw/
src/data/models/*.joblib
data/models/*.joblib
*.joblib

# Archives
archive/

# Logs
*.log
